.headerGloboLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}
.desktopImg {
  height: 36px;
  width: 171px;
}
.mobileImg {
  width: 208px;
  height: 57px;
  display: none;
}
@media (max-width: 700px) {
  .desktopImg {
    display: none;
  }
  .mobileImg {
    display: initial;
  }
}
